@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

/* 3D Container - wraps slider and model together */
.banner .scene{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 0;
    transform-style: preserve-3d;
    perspective: 1000px;
}

/* Model at the center of 3D space (z=0) */
.banner .scene .model{
    position: absolute;
    width: 500px;
    height: 75vh;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateZ(0px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    pointer-events: none;
}

.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 15%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    animation: autoRun 20s linear infinite;
}

@keyframes autoRun{
    from{
        transform: rotateX(-16deg) rotateY(0deg);
    }
    to{
        transform: rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(500px);
}

.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}

/* .banner .content h1{
    font-family: 'ICA Rubrik Black';
    font-size: 16em;
    line-height: 1em;
    color: #25283B;
    position: relative;
}

.banner .content h1::after{
   content: attr(data-content);
    position: absolute;
    inset: 0 0 0 0;
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
} */

.banner .content .author{
    font-family: Poppins;
    text-align: right;
    max-width: 200px;
}

.banner .content h2{
    font-size: 3em;
}

